name: ci

on:
  pull_request:
    branches: [ main ]

permissions:
  contents: read
  pull-requests: write

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  web:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2
      - name: Setup Node.js
        uses: volta-cli/action@v4.2.1
      - name: Install third party dependencies
        run: npm ci
      - name: Check for linting warnings and errors
        run: npm run lint
